/* Webkit (Chrome, Safari, Edge) */
.scrollbar-blue-darkblue::-webkit-scrollbar {
    width: 12px;
}

/* Thumb */
.scrollbar-blue-darkblue::-webkit-scrollbar-thumb {
    background-color: #275270;
    border-radius: 6px;
}

/* Thumb on hover */
.scrollbar-blue-darkblue::-webkit-scrollbar-thumb:hover {
    background-color: #10212e;
}

/* Track */
.scrollbar-blue-darkblue::-webkit-scrollbar-track {
    background-color: #6099BD;
}

/* Firefox */
.scrollbar-blue-darkblue {
    scrollbar-width: thin;
    scrollbar-color: #6099BD #275270;
}
